{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

{% block content %}
   {% for post in object_list %} 
   <div class="post-entry">
       <div class="post">
           <div class="date">
            {{ post.published_date }}
        </div>
        <div>
       <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
       <p>{{ post.body }}</p>
       <p>{{ post.text|linebreaksbr }}</p>
       <a href="{% url 'add_comment' post.pk %}">{{ post.comments.all }}</a>
   </div>
   <div>
       <article>
           <time>published: 14.06.2014, 12:14</time>
        </article>
   </div>
   {% endfor %} 
{% endblock content %}