{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

{% block content %}
   {% for post in object_list %} 
   <div class="post-entry">
       <div class="post">
           <div class="date">
            {{ post.published_date }}
        </div>

        <article>
            <time>published: 14.05.2021, 12:14</time>
         </article>
        <div>
       <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
      
       <p>{{ post.body }}</p>
       <p>{{ post.text|linebreaksbr }}</p>
       
       <a href="{% url 'post_edit' post.pk %}">Edit</a>
       <a href="{% url 'post_delete' post.pk %}">Delete</a>
       
        {% if post.comments.all.count  %}
       <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment<h4>
        {% else %}
        <h4><span class="badge rounded-pill bg-secondary">{{ post.comments.all.count }}</span> Comment</h4>
        {% endif %}
       <a href="{% url 'post_detail' post.pk %}"></a>
      
   </div>
   {% endfor %} 
{% endblock content %}